*.fbx
*.ply 
*.txt
*.mtl
*.obj
obj*/
!samples/*.obj

*.pyc

*.zip 
*.tar

*.jpg 
*.png 
!img/*.png

# *.mp4 (included on github)
# *.pkl (included on github)

!samples/*inter*
!samples/*.txt
!samples/*Diffuse.jpg
